spring:
  config:
    import:
      - classpath:/saml2-suomifi.yml
      - aws-parameterstore:/jod/ohjaaja/
      - aws-secretsmanager:${jod.saml2.credentials-secret-arn}?prefix=jod.saml2.relying-party.
  cloud:
    aws:
      parameterstore:
        enabled: true
        reload:
          period: 15m
          strategy: refresh
      secretsmanager:
        enabled: true
        reload:
          period: 31m
          strategy: refresh
  datasource:
    type: fi.okm.jod.ohjaaja.config.datasource.RdsIamAuthHikariDataSource
  jpa:
    hibernate:
      ddl-auto: none
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${jod.ohjaaja.internal-api.oauth2-issuer}
  web:
    error:
      include-stacktrace: never
      include-exception: false

server:
  forward-headers-strategy: none
  shutdown: graceful
  tomcat:
    custom:
      secure-connector: true

springdoc:
  api-docs:
    enabled: false

logging:
  structured:
    format:
      console: logstash
  level:
    root: INFO
    fi.okm.jod: INFO

management:
  # AppSignals already provides a lot of signals, enable only selected custom metrics
  metrics:
    enable:
      all: false
      hikaricp: true
      tomcat: true
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "health"
