spring:
  main:
    banner-mode: off
  threads:
    virtual:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true
  data:
    redis:
      repositories:
        enabled: false
  mvc:
    log-resolved-exception: false
  flyway:
    enabled: true
    default-schema: ohjaaja
    schemas: ohjaaja
    group: true
    baseline-on-migrate: true
    out-of-order: true
    baseline-version: "20250828.1939"
    baseline-description: baseline
  session:
    timeout: 30m
    data:
      redis:
        repository-type: default
        namespace: spring:session:ohjaaja
  cache:
    type: caffeine
    caffeine:
      spec: initialCapacity=100,maximumSize=500,expireAfterWrite=600s
  cloud:
    aws:
      parameterstore:
        enabled: false
      secretsmanager:
        enabled: false
  web:
    error:
      whitelabel:
        enabled: false
      include-stacktrace: never
      include-exception: false

server:
  compression:
    enabled: true
  servlet:
    context-path: /ohjaaja

springdoc:
  api-docs:
    enabled: true
    path: /openapi/openapi.json
    version: openapi_3_1
  packages-to-scan: "fi.okm.jod"
  default-produces-media-type: "application/json"
  swagger-ui:
    enabled: "${springdoc.api-docs.enabled:false}"
    validator-url: none
    path: /openapi/openapi.html
    disable-swagger-default-url: true
    operations-sorter: alpha
    tags-sorter: alpha
  paths-to-exclude: "/internal-api/**"

logging:
  level:
    root: INFO
    fi.okm.jod: DEBUG
    org:
      springframework:
        web:
          servlet:
            PageNotFound: off

management:
  observations:
    annotations:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health"

jod:
  session:
    maxDuration: 12h
